@charset "utf-8";
/* CSS Document */

/* ************************************************************************************************************************

Terra Constructora Inmobiliaria

File:			app.scss
Author:			Amapolazul
Homepage:		www.amapolazul.com
Copyright:		2017

************************************************************************************************************************ */

/* ---------- Variables ---------- */

$primary_color: #5d5d5d;
$secondary_color: #5ea287;
$tertiary_color: #354050;
$background: #f2f2f2;
$border: #5ea287;

/* ---------- General ---------- */

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
	margin: 0;
	padding: 0;
}

body {
	font: {
		family: 'Open Sans', sans-serif;
		size: 14px;
	}
	color: $primary_color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Open Sans', sans-serif;
}

a {
	color: $secondary_color;
	&:hover {
		color: $secondary_color;
	}
}

/* ---------- Template ---------- */

/* Top */

.top_1 {
	padding: 10px 0;
	background-color: $background;
	.moduletable_t11 {
		color: $tertiary_color;
		a {
			color: $tertiary_color;
		}
	}
}

.top {
	background-color: $tertiary_color;
	border-bottom: 10px solid $secondary_color;
	.moduletable_to1 {
		padding: 5px 0;
	}
	.moduletable_to2 {
		.top-bar {
			padding: 0;
			background-color: transparent;
			.top-bar-title {
				margin: 0;
			}
			#responsive-menu {
				width: 100%;
				ul.menu {
					background-color: transparent;
					li {
						/*padding: 0 5px;*/
						background: {
							image: url(moduletable_to2_menu_li_bg.png);
							position: right;
							repeat: no-repeat;
						}
						&:last-child {
							background: none;
						}
						&.current-menu-parent,
						&.current-menu-item,
						&.current_page_parent {
							a {
								background-color: $secondary_color;
								color: #fff;
							}
						}
						a {
							padding: 35px 15px;
							color: #fff;
							text-transform: uppercase;
							&:hover {
								background-color: $secondary_color;
								color: #fff;
							}
							&:after {
								border: {
									top-width: 4px;
									left-width: 4px;
									right-width: 4px;
									top-color: $secondary_color;
								}
							}
						}
						ul.sub-menu {
							padding: 10px;
							background-color: $secondary_color;
							border: 0;
							z-index: 100;
							li {
								padding: 5px 0;
								background-image: none;
								border-bottom: 1px solid #fff;
								z-index: 100;
								a {
									width: 100%;
									padding: 10px;
									border: none;
									text-align: center;
									z-index: 100;
									&:hover {
										background-color: $tertiary_color;
									}
								}
							}
						}
					}
				}
			}
		}
	}
	.moduletable_to3 {
		a {
			margin: 0 5px;
			display: inline-block;
		}
	}
}

/* Search */

.search {
	width: 100%;
	position: absolute;
	z-index: 10;
	.row {
		.columns {
			padding: 0;
			background-color: $secondary_color;
			.moduletable_se1 {
				padding: 10px;
				#a {
					padding: 5px;
					background-color: $tertiary_color;
					h3 {
						margin: 0;
						font-size: 14px;
						color: #fff;
					}
				}
				#b {
					.wpl_search_from_box {
						margin: 0;
						padding: 0;
						border: 0;
						label {
							display: none;
						}
						.listings {
							.chosen-container {
								width: 140px !important;
							}
						}
						.property_types {
							.chosen-container {
								width: 140px !important;
							}
						}
						.locations {
							.chosen-container {
								/*width: 80px !important;*/
								display: none;
							}
							input {
								width: 180px !important;
								margin: 5px 0;
							}
						}
						.listings,
						.property_types,
						.locations {
							.chosen-container {
								background-color: #fff;
							}
						}
						.search_submit_box {
							background-color: $tertiary_color;
							.wpl_search_widget_submit {
								background-color: $tertiary_color;
								font-size: 14px;
							}
						}
					}
				}
				.wasi_search {
					.row {
						margin: 0;
						.form-group {
							margin: 0;
							padding: 5px;
							label {
								color: #fff;
							}
							input[type="text"],
							input[type="number"],
							select {
								width: 100%;
								height: inherit;
								margin: 0;
								border: 1px solid $border;
								border-radius: 0;
								font-size: 14px;
							}
							button.button {
								margin: 0;
								background-color: $tertiary_color;
								border-radius: 0;
							}
						}
					}
				}
			}
		}
	}
}

.inside {
	.search {
		position: inherit;
	}
}

/* Banner */

.banner {
	.moduletable_ba1 {
		.flexslider {
			margin: 0;
		}
	}
}

/* Content */

.content {
	padding: 30px 0;
	h1 {
		margin-bottom: 30px;
		font-size: 24px;
		span {
			font-weight: bold;
		}
		&.green {
			margin-bottom: 0;
			color: $secondary_color;
		}
	}
	h2,
	h3 {
		font-size: 20px;
	}
	h3 {
		&.line {
			background: {
				image: url(content_h3_bg.png);
				position: bottom right;
				repeat: no-repeat;
			}
			font-size: 40px;
			color: $tertiary_color;
		}
	}
	a {
		&.button {
			margin: 0 10px;
			border: {
				color: $secondary_color;
				radius: 0;
			}
			color: $tertiary_color;
			display: inline-block;
		}
		&.green {
			background-color: $secondary_color;
			color: #fff;
		}
	}
	.asterisk {
		color: red;
	}
	input {
		&.button {
			background-color: $secondary_color;
			border-radius: 0;
		}
	}
	#box_1 {
		padding: 20px;
		h2 {
			font-size: 24px;
			color: #fff;
		}
		p {
			margin: 0;
			color: #fff;
		}
		&.mision {
			padding: 16px 20px;
		}
		&.avaluos_1 {}
	}
	#box_2 {
		padding: 20px;
		h2 {
			font-size: 24px;
			color: #fff;
		}
		p {
			margin: 0;
			color: #fff;
		}
		&.vision {
			padding: 50px 70px;
		}
		&.avaluos_2 {}
	}
	.wpl_property_listing_container {
		.wpl_sort_options_container {
			.wpl_plist_sort_active {
				color: $secondary_color;
				&:before {
					background: $secondary_color;
				}
			}
			.wpl_list_grid_switcher>div.active:before,
			.wpl_list_grid_switcher>a.active:before {
				color: $secondary_color;
			}
		}
		.wpl_property_listing_listings_container {
			.wpl-column {
				.wpl_prp_top {
					.wpl_prp_top_boxes {
						&.front {
							.wpl-listing-tag.sp_featured {
								background-color: $secondary_color;
							}
						}
						&.back {
							background: $secondary_color;
						}
					}
				}
				.wpl_prp_bot {
					.wpl_prp_title {
						color: $secondary_color;
					}
					.wpl_prp_listing_icon_box {

					}
				}
				.price_box {
					span {
						color: $secondary_color;
					}
				}
			}
		}
		.wpl_pagination_container {
			ul.pagination {
				li.active {
					a {
						border-color: $secondary_color;
						color: $secondary_color;
					}
				}
			}
		}
	}
	.wpl_prp_show_container {
		.wpl_prp_container {
			.wpl_prp_show_tabs {
				.tabs_box {
					ul.tabs {
						li {
							&:hover,
							&.active {
								&:before {
									background: $secondary_color;
								}
							}
						}
					}
				}
			}
			.wpl_prp_container_content {
				.wpl-expanded {
					.wpl_prp_container_content_left {
						.wpl_category_description,
						.wpl_category_1,
						.wpl_category_4,
						.wpl_category_2 {
							.wpl_prp_show_detail_boxes_title {
								&:after {
									background: $secondary_color;
								}
							}
						}
					}
					.wpl_prp_container_content_right {
						.wpl_prp_right_boxes {
							.wpl_prp_right_boxes_title {
								color: $secondary_color;
							}
							.wpl_prp_right_boxes_content {
								.wpl_prp_right_boxe_details_bot {
									.price_box {
										color: $secondary_color;
									}
								}
							}
						}
						.wpl_prp_show_position2 {
							.listing_contact {
								.btn {
									background: $secondary_color;
								}
							}
						}
					}
				}
			}
		}
	}
	.landing_form {
		padding: 30px 0;
		background: {
			image: url(block_4_bg.png);
			position: top;
			repeat: repeat-x;
		}
		#a {
			p {
				margin: 0;
				font-size: 20px;
				color: #fff;
			}
		}
		#b {
			padding: 20px 30px;
			border: 5px solid $secondary_color;
			.wpcf7 {
				input[type=text],
				input[type=email] {
					margin: 0;
					background-color: #f1f1f1;
					border: 0;
					border-radius: 0;
				}
				input[type=submit] {
					&.button {
						margin: 0;
						padding: 5px 20px;
						background-color: $secondary_color;
						border-radius: 0;
						text-transform: uppercase;
					}
				}
			}
		}
	}
	#wasiApp {
		.nav-container {
			width: 100%;
			ul {
				li {
					&.active {
						a {
							background-color: $secondary_color;
							border-color: $secondary_color;
							color: #fff;
						}
					}
					a {
						color: $secondary_color;
					}
				}
			}
		}
	}
	&.full-width {
		.max {
			max-width: 1000px;
			margin: auto;
		}
	}
}

/* Block 1 */

.block_1 {
	padding: 30px 0;
	background-color: $background;
	.moduletable_b11 {
		#a {
			border-right: 5px solid #fff;
		}
		#b {}
		#c {
			border-left: 5px solid #fff;
		}
	}
}

/* Block 2 & Block 3 */

.block_2,
.block_3 {
	padding: 30px 0;
	.moduletable_b21,
	.moduletable_b31 {
		#a {
			h3 {
				margin: 0;
				background: {
					image: url(block_2_h3_bg.png);
					position: center;
					repeat: no-repeat;
				}
				font-size: 18px;
				span {
					font-weight: bold;
				}
			}
		}
		#b {
			.wpl-carousel-item {
				border-color: $secondary_color;
				.wpl-listing-tag.sp_featured {
					background-color: $secondary_color;
				}
			}
		}
	}
}

/* Block 4 */

.block_4 {
	padding: 30px 0;
	background: {
		image: url(block_4_bg.png);
		position: top;
		repeat: repeat-x;
	}
	.moduletable_b41 {
		#a {
			h3 {
				font-size: 40px;
				color: #fff;
				line-height: 1em;
			}
			p {
				margin: 0;
				font-size: 20px;
				color: #fff;
			}
		}
		#b {
			padding: 20px 30px;
			border: 5px solid $secondary_color;
			.wpcf7 {
				input[type=text],
				input[type=email] {
					margin: 0;
					background-color: #f1f1f1;
					border: 0;
					border-radius: 0;
				}
				input[type=submit] {
					&.button {
						margin: 0;
						padding: 5px 20px;
						background-color: $secondary_color;
						border-radius: 0;
						text-transform: uppercase;
					}
				}
			}
		}
		#c {
			display: none;
			.widget_polls-widget {
				border: 5px solid $secondary_color;
				h3 {
					font-size: 20px;
					color: $secondary_color;
				}
				p {
					font-size: 14px;
					color: $secondary_color;
				}
				ul {
					margin: 10px;
					li {
						color: $secondary_color;
						display: inline-block;
						label {
							color: $secondary_color;
						}
					}
				}
			}
		}
	}
}

/* Block 6 */

.block_6 {
	padding: 30px 0;
	.moduletable_b61 {
		#a {
			h3 {
				margin: 0;
				background: {
					image: url(block_2_h3_bg.png);
					position: center;
					repeat: no-repeat;
				}
				font-size: 18px;
				span {
					font-weight: bold;
				}
			}
		}
		#b {}
	}
}

/* Block 5 */

.block_5 {
	padding: 30px 0;
	.moduletable_b51 {
		#a {
			a {
				&.button {
					margin: 0 10px;
					border: {
						color: $secondary_color;
						radius: 0;
					}
					color: $tertiary_color;
					display: inline-block;
				}
			}
		}
		#b {
			a {
				margin: 0 10px;
				display: inline-block;
			}
		}
	}
}

/* Bottom */

.bottom {
	padding: 30px 0 10px 0;
	background-color: $secondary_color;
	.moduletable_bo1 {
		font-size: 16px;
		color: #fff;
		a {
			color: #fff;
		}
	}
}

/* Copyright */

.copyright {
	padding-bottom: 30px;
	background-color: $secondary_color;
	color: #fff;
	a {
		color: #fff;
	}
}

/* Contact Us */

.moduletable_cu1 {
	padding: 10px;
	top: 30%;
	right: 0;
	background-color: $secondary_color;
	position: fixed;
	a {
		color: #fff;
		text-transform: uppercase;
		writing-mode: vertical-lr;
		transform: rotate(180deg);
		i {
			transform: rotate(90deg);
		}
	}
}

/* WhatsApp */

.moduletable_wa1 {
	padding: 10px;
	right: 20px;
	bottom: 20px;
	background-color: $secondary_color;
	position: fixed;
	a {
		font-size: 40px;
		color: #fff;
		line-height: 40px;
	}
}

/* ---------- Media Queries ---------- */

/* Small only (639px) */

@media screen and (max-width: 39.9375em) {

	/* Top */

	.top {
		.moduletable_to1 {
			padding: 10px 0;
		}
		.moduletable_to2 {
			margin: 15px 0;
			.top-bar {
				.top-bar-title {
					width: 100%;
					margin: 0;
					color: #fff;
					text-align: center;
					button {
						&:after {
							background: #fff;
							box-shadow: 0 7px 0 #fff, 0 14px 0 #fff;
						}
					}
				}
				#responsive-menu {
					width: 100%;
					ul.menu {
						padding-top: 10px;
						li {
							width: 100%;
							background: none;
							a {
								width: 100%;
								padding: 5px 10px;
								text-align: center;
								display: block;
							}
						}
					}
				}
			}
		}
	}

	/* Search */

	.search {
		position: inherit;
		.row {
			.columns {
				.moduletable_se1 {
					#b {
						.wpl_search_from_box {
							.listings,
							.property_types,
							.locations {
								select,
								input {
									width: 300px !important;
								}
							}
						}
					}
				}
			}
		}
	}

	/* Block 5 */

	.block_5 {
		.moduletable_b51 {
			#a {
				a {
					&.button {
						margin: 10px;
					}
				}
			}
		}
	}

	/* Bottom */

	.bottom {
		.moduletable_bo1 {
			font-size: 14px;
		}
	}

}

/* Medium and up (640px) */

@media screen and (min-width: 40em) {}

/* Medium only (640px and 1023px) */

@media screen and (min-width: 40em) and (max-width: 63.9375em) {}

/* Large and up (1024px) */

@media screen and (min-width: 64em) {}

/* Large only (1024px and 1199px) */

@media screen and (min-width: 64em) and (max-width: 74.9375em) {}

/* ---------- Others ---------- */

.clear {
	clear: both;
}